.title-container{
  text-align: center;
  justify-content: center;
  background-color: rgb(225, 0, 255);
  font-family: monospace;
}

.facts-container{
    font-family: monospace;
    text-align: left;
    color: white;
}

h1{
    color: rgb(255, 255, 255);
    background-color: crimson;
}

body{
    background-color: black;
}

.navigation-container{
    text-align: center;
}

p{
    color: ghostwhite;
}

.navbar-container{
    text-align: center;
    font-family: monospace;
}